@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
    font-family: 'Russo One';
    font-size: 15px;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}

/* .files {
    background-color: aqua;
} */

li{
    list-style-type: none;
}

ul{
    padding-left: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
} 

.navbar li {
    margin-right: 30px;
} 
  
.navbar a {
    color: #000;
    text-decoration: none;
}

.config, .start p, .mycfg{
  -ms-user-select: all; 
	-moz-user-select: all; 
	-webkit-user-select: all; 
	user-select: all;
}



.btn-up {
    position: fixed;
    background-color: #dedbe2;
    right: 20px;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
  }
  
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url(icons/arrow-up-circle-black.svg);
  }
  
  .btn-up_hide {
    display: none;
    
  }

  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: #c8c6cc;
    }
  }