@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
    font-family: 'Russo One';
    font-size: 14px;
}

/* .files {
    background-color: aqua;
} */

li{
    list-style-type: none;
}

ul{
    padding-left: 0;
}